<div class="row"><h1>Welcome on ACME - HIRE car System</h1></div>
<div class="row"> Find the perfect car for everything </div>

<br>
	<% if !@cars.blank? %>
		<div id="myCarousel" class="carousel slide" 
					style="margin-right: auto;margin-left: auto;width: 220px; ">
		  	<ol class="carousel-indicators">
				<% for car in @cars %>
		    		 <li data-target="#myCarousel" data-slide-to="<%= car.id %>"></li>
		  		<% end %>
	  		</ol>
	  		<div class="carousel-inner">
		  		<% for car in @cars %>
			    	<div class="item"><%= image_tag car.pic.url(:medium) %></div>	
			  	<% end %>
		   </div>
		<!-- Carousel nav -->
			<a class="carousel-control left" href="#myCarousel" style="width: 20px;" data-slide="prev">&lsaquo;</a>
			<a class="carousel-control right" href="#myCarousel" style="width: 20px;" data-slide="next">&rsaquo;</a>
	  	</div>
	<% end %>

