<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label "Full Name"%><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label "E-mail Addresse" %><br />
    <%= f.text_field :email %>
  </div>

  <div class="field">
    <%= f.label "Password" %><br />
    <%= f.password_field :password %>
  </div>
  <div class="field">
    <%= f.label "Password Confirmation" %><br />
    <%= f.password_field :password_confirmation %>
  </div>

  <div class="actions">
    <%= f.submit "Subscribe" , :class => "btn btn-inverse" %>
  </div>
<% end %>
