<h1>Listing hirings for <%= current_user.name%></h1>

<table class="table table-hover">
  <tr>
    <th>Hire date</th>
    <th>Nb days</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @hirings.each do |hiring| %>
  <tr>
    <td><%= hiring.hire_date %></td>
    <td><%= hiring.nb_days %></td>
    <td><%= link_to 'Show', hiring %></td>
    <td><%= link_to 'Edit', edit_hiring_path(hiring) %></td>
    <td><%= link_to 'Destroy', hiring, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>