<div class="row">
   	<div class="span6 offset3">
		<h1>Subscription</h1>
		<%= render 'form' %>
		<%= link_to 'Back to Home', home_path, :class =>"btn btn-primary" , :style => "color:white;" %>
   	</div>
</div>

