<%= form_for(@hiring) do |f| %>
  <% if @hiring.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@hiring.errors.count, "error") %> prohibited this hiring from being saved:</h2>

      <ul>
      <% @hiring.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :hire_date %><br />
    <%= f.date_select :hire_date %>
  </div>
  <div class="field">
    <%= f.label :nb_days %><br />
    <%= f.text_field :nb_days %>
  </div>
  <div>
    <b>Car:</b><br>
    <select name="hiring[car_id]">
    <% @cars.each do |car| %>
           <option value="<%= car.id %>" 
            <%= ' selected' if car.id == @hiring.car_id %>>
            <%= car.label %>
           </option>
    <% end %>
    </select>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
