<h1>Listing hirings</h1>

<table class="table table-hover">
  <tr>
    <th>Customer</th>
    <th>Hire date</th>
    <th>Return date</th>
    <th>Nb days</th>
    <th>Car</th>
    <th>Amount</th>
    <th>Extra fees</th>
    <th>Status</th>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @hirings.each do |hiring| %>
  <%if !hiring.open %>
    <tr class="success">
  <% elsif hiring.extra_fees > 0 %>
    <tr class="error">
  <%else%>
    <tr>
  <%end%>
    <td><%= hiring.customer_name %></td>  
    <td><%= hiring.hire_date %></td>
    <td><%= hiring.return_date %></td>
    <td><%= hiring.nb_days %></td>
    <td><%= hiring.car_label %></td>  
    <td>£<%= hiring.price %></td>
    <td>£<%= hiring.extra_fees %></td>
    <% if hiring.open? %>
      <td>Open</td>
    <%else%>
      <td>Close</td>
    <%end%>
    <td><%= link_to 'Show', hiring %></td>
    <td><%= link_to 'Edit', edit_hiring_path(hiring) %></td>
    <td><%= link_to 'Cancel', hiring, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    <td><%= link_to 'Close', :controller => "hirings", 
                             :action => "close", 
                             :hiring_id => hiring.id %>
    </td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Hiring', new_hiring_path %>
