<h1>New hiring</h1>
	<% if flash[:error] %>
		<div class="alert alert-error">
		  <button type="button" class="close" data-dismiss="alert">&times;</button>
		  <strong>Error!</strong><%= flash[:error] %>
		</div>
	<% end %>
<%= render 'form' %>

<%= link_to 'Back', hirings_path %>
