	<% if notice %>
		<div class="alert alert-success">
		  <button type="button" class="close" data-dismiss="alert">&times;</button>
		  <strong>Success!</strong><%= notice %>
		</div>
	<% end %>
<p>
  <b>Hire date:</b>
  <%= @hiring.hire_date %>
</p>

<p>
  <b>Nb days:</b>
  <%= @hiring.nb_days %>
</p>
<p>
	<b>Voiture: </b>
	<%= @hiring.car.label %>
	<br>
	<%= image_tag @hiring.car.pic.url(:medium) %>
</p>

<%= link_to 'Edit', edit_hiring_path(@hiring) %> |
<%= link_to 'Back', hirings_path %>
