<%= form_for @car,:html => { :multipart => true } do |f| %>
  <% if @car.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@car.errors.count, "error") %> prohibited this car from being saved:</h2>

      <ul>
      <% @car.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :label %><br />
    <%= f.text_field :label %>
  </div>
  <div class="field">
    <%= f.label :daily_price %><br />
    <%= f.text_field :daily_price %>
  </div>

  <div class="field">
    <%= f.label "Picture" %><br />
    <%= f.file_field :pic %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
