<h1>Listing cars</h1>

<table class="table table-hover">
  <tr>
    <th></th>
    <th>Model</th>
    <th>Price (£/day)</th>
    <th></th>
    <% if !current_user.nil? && current_user.admin? %>
      <th></th>
      <th></th>
    <%end%> 
  </tr>

<% @cars.each do |car| %>
  <tr>
    <td style="width:100px;"><%= image_tag car.pic.url(:thumb) %></td>
    <td><%= car.label %></td>
    <td>£<%= car.daily_price %></td>
    <td><%= link_to 'Show', car, :style => "color: whitel;", :class => "btn btn-info" %></td>
    <% if !current_user.nil? && current_user.admin? %>
      <td><%= link_to 'Edit', edit_car_path(car) %></td>
      <td><%= link_to 'Destroy', car, method: :delete, data: {confirm: 'Are you sure?'} %></td>
    <%end%> 
  </tr>
<% end %>
</table>

<br />

<% if !current_user.nil? && current_user.admin? %>
  <%= link_to 'New Car', newCar_path, :class => 'btn btn-inverse'%>
<%end%>
