<div class="row">
	<% if notice %>
		<div class="alert alert-success">
		  <button type="button" class="close" data-dismiss="alert">&times;</button>
		  <strong>Success!</strong><%= notice %>
		</div>
	<% end %>

	<p>
	  <b>Label:</b>
	  <%= @car.label %>
	</p>

	<p>
	  <b>Daily price:</b>
	  <%= @car.daily_price %>
	</p>
	
	<%= image_tag @car.pic.url(:medium) %>

	<% if !current_user.nil? && current_user.admin? %>
		<%= link_to 'Edit', edit_car_path(@car) %>
	<%end%>
	<br>
	<%= link_to 'Back', cars_path, :class => "btn btn-inverse" %>
