<div class=" navbar navbar-inverse  navbar-fixed-bottom footer">
	<div class="navbar-inner">
		<div class="container">
			<div class="row-fluid">
				<div class="span6">
					<h3> About ACME</h3>
					<ul class="nav">
						<li> <a href="/contacts">Contact US</a> </li>
						<li> <a href="/faqs">FAQ</a> </li>
						<li> <a href="/conditions">Legal</a> </li>
					</ul>
				</div>

				<div class="span6">
					<h3> My Account </h3>
					<ul class="nav">
						<% if signed_in? %>
							<li> <%= link_to "My details", current_user, :id => "details"%> </li>
							<li> <%= link_to "My History", user_hirings_path, :id => "userHistory"%> </li>
							<li> <%= link_to "Delete my Account", '#', :id => "userDelete"%> </li>
						<% else %>
							<li> <%= link_to "My details", "#", :id => "details"%> </li>
							<li> <%= link_to "My History", '#', :id => "userHistory"%> </li>
							<li> <%= link_to "Delete my Account", '#', :id => "userDelete"%> </li>
						<%end%>	
					</ul>
				</div>
			</div>

			<div class="info" style="margin-left: auto;">
				<p> Copyright © bertinm Aston University - 2013 </p>
			</div>
		</div>
	</div>
</div>