<div class="navbar navbar-inverse navbar-fixed-top">
	<div class="navbar-inner">
        <div class="container">
          	<%= link_to "ACME", home_path ,:class => "brand" %>
          	<div class="nav-collapse collapse">
            	<ul class="nav">
            	  	<li class="divider-vertical"></li>
	              	<li>
	              		<%= link_to "Home", home_path %>
	              	</li>
	              	<li>
	              		<%= link_to "Browse Car", browseCar_path %>
	              	</li>
	              	<% if signed_in? %>
		              	<li>
		              		<%= link_to "Book a Car", bookCar_path %>
		              	</li>
		            <%end%>
		            <% if !current_user.nil? && current_user.admin? %>
		            	<li>
		              		<%= link_to "Hiring List", hirings_path %>
		              	</li>
		            <%end%>
            	</ul>
            	<ul class="nav pull-right">
					<li class="divider-vertical"></li>

					<li>
						<% if signed_in? %>
							<%= link_to current_user.name, current_user %>
						<% else %>
							<%= link_to "Subscribe", signup_path, :id => "signup" %>
						<%end%>	
					</li>
					<li class="divider-vertical"></li>
					<li>
						<% if signed_in? %>
							<%= link_to "Logout", signout_path, :method => :delete %>
						<% else %>
							<% logger.debug "user to connect" %>
							<%= link_to "Login", '#', :id => "login"%>
						<%end%>						
					</li>
					<li class="divider-vertical"></li>
				</ul>
         	</div>
    	</div>
  	</div>
</div>