  <%= stylesheet_link_tag  "application", :media => "all" %>
  <%= stylesheet_link_tag  "bootstrap" %>

  <%= javascript_include_tag "application" %>
  <%= javascript_include_tag "bootstrap" %>
  <%= javascript_include_tag "main" %>
  <%= javascript_include_tag "jqFancyTransitions.1.8" %>

  <%= csrf_meta_tags %>