<div id="loginModal" class="modal hide fade">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h3>ACME Car Hire System - Login</h3>
  </div>
  <div class="modal-body">
      <!-- Ruby form -->
      <%= form_for(:session, :url => signin_path, :html => { :id => "loginForm" }, :remote => true) do |f| %>
          <div class="field">
            <%= f.label "E-mail Addresse" %><br />
            <%= f.text_field :email %>
          </div>

          <div class="field">
            <%= f.label "Password" %><br />
            <%= f.password_field :password %>
          </div>
      <% end %>
      <div id="loginMessage" class="alert alert-error hide" ></div>
  </div>
  <div class="modal-footer">
    <button id="loginButton" class="btn btn-primary" type="button">Login</button>
  </div>
</div>