<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <%= render 'layouts/import' %>
</head>
<body style="height:auto;">
  <%= render 'layouts/header' %>
  <%= render 'layouts/login_modal' %>
  <div id="messageSuccess" class="alert alert-success hide" ></div>
  <div id="messageError" class="alert alert-error hide" ></div>
  <div class="paddingNavbar container">
    <%= yield %>
  </div>
  <%= render 'layouts/footer' %>
</body>
</html>